@font-face {
	font-family: "Open Sans";
	src: url('OpenSans.ttf');
}

body.busy {
	opacity: 0.5;
	-webkit-transition: opacity 0.2s linear;
}

body.logged_in {
	width: 600px;
}

* {
	font-size: 12px;
	font-family: "Open Sans";
}

table {
	width: 100%;
	border-spacing: 0;
	line-height: 120%;
}

th {
	padding-bottom: 4px;
}

th.gradeHeader {
	font-size: 10px;
	font-weight: normal;
}

th.gradeHeader:first-child {
	text-align: left;
}

td {
	line-height: 175%;
}

a {
	color: #78c9d0;
	text-decoration: none;
}

.classTitle {
	background: #f8f8f8;
}

.exam {
	/*border: 1px dashed #fd8;*/
}

.semester {
	/*border: 1px dashed #8df;*/
}

.CategoryName {
	font-weight: bold;
	font-size: 14px;
}

#logo_login {
	margin: 0 auto;
}

#login, #password, #studentid {
	border: none;
	outline-offset: 0 !important;
	width: 154px;
	padding: 1px 5px 1px 5px;
	font-size: 14px;
}

#do_login {
	background: #FFCA08;
	width: 164px;
	border: 2px solid black;
	border-radius: 4px;
}

#do_login:active {
	box-shadow: inset 0 0 4px #666;
}

.sep {
	border: 2px solid #CCC;
	border-top: none;
	height: 4px;
	position: relative;
	margin-top: -8px;
	margin-bottom: 6px;
}

#action_buttons {
	float: right;
}

#direct_access_form {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 8px 8px 0 8px;
	background: rgba(255, 255, 255, 0.8);
	z-index: 9001;
}

#update_wrapper {
	position: relative;
	bottom: 3px;
}

#action_buttons {
	margin-top: 1px;
}

#action_buttons button {
	font-size: 16px;
	background: none;
	border: none;
	outline: none;
}

#action_buttons button:hover {
	text-decoration: underline;
}

#grades {
	position: relative;
	margin-top: 4.5em;
}

#grades td {
	text-align: center;
}

#grades td:first-child {
	text-align: left;
}

#update_wrapper, #lastupdated {
	font-size: 10px;
}

#access_code_wrapper {
	display: none;
}