@font-face {
	font-family: "Open Sans";
	src: url('OpenSans.ttf');
}
@font-face {
	font-family: "Open Sans Light";
	src: url('OpenSans-Light.ttf');
}

body {
	/*padding-bottom: 3px;*/
	/*height: 177px;*/
	color: #222;
}

body.busy {
	opacity: 0.5;
	-webkit-transition: opacity 0.2s linear;
}

body.logged_in {
	width: 600px;
	/*min-height: 203px;*/
}

* {
	/*font-size: 12px;*/
	font-size: 14px;
	font-family: "Open Sans";
	-webkit-font-smoothing: antialiased;
}

table {
	width: 100%;
	border-spacing: 0;
	line-height: 120%;
}

th {
	padding-bottom: 4px;
}

th.gradeHeader {
	font-size: 10px;
	font-weight: normal;
}

th.gradeHeader:first-child {
	text-align: left;
}

td {
	line-height: 175%;
}

td, td a {
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

a {
	color: #222;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.classTitle {
	/*background: #f8f8f8;*/
}

.exam {
	/*border: 1px dashed #fd8;*/
}

.semester {
	/*border: 1px dashed #8df;*/
}

.CategoryName {
	font-weight: bold;
	font-size: 14px;
}

#logo_login {
	margin: 0 auto;
}

#login, #password, #studentid {
	border: none;
	outline-offset: 0 !important;
	width: 154px;
	padding: 1px 5px 1px 5px;
	font-size: 14px;
}

#do_login {
	background: #FFCA08;
	width: 164px;
	border: 2px solid black;
	border-radius: 4px;
}

#do_login:active {
	box-shadow: inset 0 0 4px #666;
}

.sep {
	border: 2px solid #CCC;
	border-top: none;
	height: 4px;
	position: relative;
	margin-top: -8px;
	margin-bottom: 6px;
}

#direct_access_form {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 8px 8px 4px 8px;
	background: rgba(255, 255, 255, 0.8);
	z-index: 9001;
}

#update_wrapper {
	position: relative;
	bottom: 3px;
	color: #808080;
}

#action_buttons {
	margin-top: 4px;
	float: right;
}

#action_buttons button {
	font-size: 16px;
	font-family: "Open Sans Light";
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

#action_buttons button:hover {
	text-decoration: underline;
}

#grades {
	position: relative;
	margin-top: 4.5em;
	background: #eeeeee;
	padding: 4px;
	border-radius: 4px;
}

#grades td {
	text-align: center;
}

#grades td a {
	display: block;
	font-weight: bold;
}

#grades td:first-child {
	text-align: left;
}

#update_wrapper, #lastupdated {
	font-size: 12px;
}

#access_code_wrapper {
	display: none;
}

/* minimal processing for class grades */
.DataTable {
	background: #eee;
	border-radius: 4px;
}

.DataRow td, .DataRowAlt td {
	background: white;
}

.DataRow .AssignmentName, .DataRowAlt .AssignmentName {
	background: #eee;
}